# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats as stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the csv as a pandas dataframe named `salaries` from the data folder of this repository (Current_Employee_Names__Salaries__and_Position_Titles.csv).

In [2]:
# Your code here:

path = "D:\Data Science\Ironhack\GitHub\Week 5\lab-hypothesis-testing\data\Current_Employee_Names__Salaries__and_Position_Titles.csv"

import_csv = pd.read_csv(path)
salaries = import_csv.copy()

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:


salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Statistical summary of all numerical variables
salaries.describe()

       Typical Hours  Annual Salary  Hourly Rate
count    8022.000000   25161.000000  8022.000000
mean       34.507604   86786.999790    32.788558
std         9.252077   21041.354602    12.112573
min        10.000000    7200.000000     2.650000
25%        20.000000   76266.000000    21.200000
50%        40.000000   90024.000000    35.600000
75%        40.000000   96060.000000    40.200000
max        40.000000  300000.000000   109.000000

In [17]:
# Defining hypothesis

# Ho: Hourly wage = $30/hr.
# Ha: Hourly wage != $30/hr.

# Two sided z-test

# Population mean according to Ho
pop_mean = 30

In [9]:
# In order to test my hypothesis I will need only the workers that work on a hourly rate base

# All workers which working on hourly rate base
hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly']
hourly_workers

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [10]:
# How many worker are there
n = hourly_workers['Hourly Rate'].count()
n

8022

In [11]:
# What is the mean hourly rate
mean_hourly_workers = np.mean(hourly_workers['Hourly Rate'])
mean_hourly_workers

32.78855771628024

In [12]:
# What is the stdv hourly rate
std_hourly_workers = np.std(hourly_workers['Hourly Rate'])
std_hourly_workers

12.111817701093825

In [13]:
# Standard error
# Metod 1
#sem = stats.sem(hourly_workers['Hourly Rate'])
#sem

# Metod 2
sem = std_hourly_workers / np.sqrt(n - 1)
sem

0.1352368565101596

In [16]:
# What is the z score
# Metod 1
stats.ttest_1samp(hourly_workers['Hourly Rate'], popmean=pop_mean, nan_policy='omit')

# Metod 2
#z = (mean_hourly_workers - pop_mean) / sem
#z

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [34]:
# What is the critical value for 95% two sided confidence interval
zcrit = stats.norm.ppf(1-(0.05/2))
zcrit

1.959963984540054

Z-score = 20.619805785501924
Zcritical = 1.959963984540054

Ho: Hourly wage = $30/hr.  

Ha: Hourly wage != $30/hr.

zcrit < zscore   
**We can reject the null hypothesis**  
**Hourly wage is higher or lower than $30/hr.**

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [35]:
# Defining hypothesis

# Ho: Salary <= $86000/year
# Ha: Salary > $86000/year


# Population mean according to Ho
pop_mean = 86000

In [36]:
# In order to test my hypothesis I will need only the workers that work on a salary rate base and are from police department

# All workers which working on salary rate base and are from police department
police_salary_workers = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]
police_salary_workers

# How to be sure that I picked only these workers from police department which are working on salary base?
#police_salary_workers['Salary or Hourly'].value_counts()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
...,...,...,...,...,...,...,...,...
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [37]:
# How many worker are there
n = police_salary_workers['Name'].count()
n

13404

In [38]:
# What is the mean annual salary rate
mean_police_salary_workers = np.mean(police_salary_workers['Annual Salary'])
mean_police_salary_workers

86486.41450313339

In [39]:
# What is the stdv annual salary rate
std_police_salary_workers = np.std(police_salary_workers['Annual Salary'])
std_police_salary_workers

18271.54668517837

In [40]:
# Standard error
# Metod 1
#sem = stats.sem(police_salary_workers['Annual Salary'])
#sem

# Metod 2
sem = std_police_salary_workers / np.sqrt(n - 1)
sem

157.82445675052244

In [41]:
# What is the z score
# Metod 1
#stats.ttest_1samp(police_salary_workers['Annual Salary'], popmean=pop_mean, nan_policy='omit')

# Metod 2
z = (mean_police_salary_workers - pop_mean) / sem
z

3.081997005712994

In [42]:
# What is the critical value for 95% one sided confidence interval
zcrit = stats.norm.ppf(0.95)
zcrit

1.6448536269514722

Ho: Salary <= $86000/year  

Ha: Salary > $86000/year

zcrit < zscore   
**We can reject the null hypothesis**  
**This year's annual salary rate is bigger than $86000**

Z-score =  3.081859442309168
Zcritical =  1.6448536269514722

Using the `crosstab` function, find the department that has the most hourly workers.

In [157]:
pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values(by=['Hourly'], ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [182]:
# Defining hypothesis

# Ho: Hourly wage >= $35/hr.
# Ha: Hourly wage < $35/hr.


# Population mean according to Ho
pop_mean = 35

In [183]:
# In order to test my hypothesis I will need only the workers that work on a hourly rate base from street & scan department

# All workers which working on hourly rate base from streets & scan department
hourly_street_and_scan = salaries[(salaries['Department'] == 'STREETS & SAN') & (salaries['Salary or Hourly'] == 'Hourly')]
hourly_street_and_scan

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
...,...,...,...,...,...,...,...,...
33106,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12

In [184]:
# How many worker are there
n = hourly_street_and_scan['Name'].count()
n

1862

In [185]:
# What is the mean hourly rate
mean_hourly_street_and_scan = np.mean(hourly_street_and_scan['Hourly Rate'])
mean_hourly_street_and_scan

33.72837808807734

In [186]:
# What is the stdv hourly rate
std_hourly_street_and_scan = np.std(hourly_street_and_scan['Hourly Rate'])
std_hourly_street_and_scan

5.733701558944158

In [187]:
# Standard error
# Metod 1
#sem = stats.sem(hourly_street_and_scan['Hourly Rate'])
#sem

# Metod 2
sem = std_hourly_street_and_scan / np.sqrt(n - 1)
sem

0.13291129743573263

In [189]:
# What is the z score
# Metod 1
#stats.ttest_1samp(hourly_street_and_scan['Hourly Rate'], popmean=pop_mean, nan_policy='omit')

# Metod 2
z = (mean_hourly_street_and_scan - pop_mean) / sem
z

-9.567447887848154

In [190]:
# What is the critical value for 95% one sided confidence interval
zcrit = stats.norm.ppf(0.95)
zcrit

1.6448536269514722

Ho: Hourly wage >= $35/hr.  

Ha: Hourly wage < $35/hr.

zcrit > zscore   
**We can't reject the null hypothesis**  
**Hourly wage is greater or equal than $35/hr.**

In [15]:
# Your code here:

Z-score =  -9.567447887851895
Zcritical =  1.6448536269514722

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [32]:
stats.norm.interval(alpha=0.95, loc=mean_hourly_workers, scale=sem)

(32.52349834813791, 33.05361708442256)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [43]:
stats.norm.interval(alpha=0.95, loc=mean_police_salary_workers, scale=sem)

(86177.08425202276, 86795.74475424402)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [56]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

# Ho: the proportion of hourly workers is equal to 25%.
# Ha: the proportion of hourly workers is different to 25%.

Null hypothesis rejected
Statistic:  -3.5099964213703005
p-value:  0.0004481127249057967