# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the csv as a pandas dataframe named `salaries` from the data folder of this repository (Current_Employee_Names__Salaries__and_Position_Titles.csv).

In [2]:
salaries = pd.read_csv(r"..\data\Current_Employee_Names__Salaries__and_Position_Titles.csv")
salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
#salaries.isnull().value_counts
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
#Sample size =
#HO = 

hourly_salary_mean = salaries['Hourly Rate'].mean()
#hourly_salary_mean
sem = (salaries['Hourly Rate'].std()) / np.sqrt(salaries['Hourly Rate'].count())
#sem
#z = ( sample_mean - pop_mean ) / ( pop_std_dev / np.sqrt(45) )
z = (hourly_salary_mean-30)/sem
print("The Z-score of our sample is:", z)
zc = stats.norm.ppf(0.975)
print("The Zcritical of our sample is:", zc)


print("We should reject the HO because it's way off the Zcritical")

The Z-score of our sample is: 20.619805785501907
The Zcritical of our sample is: 1.959963984540054
We should reject the HO because it's way off the Zcritical

In [8]:
stats.ttest_1samp(salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'],30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [9]:
#Sample size =
#HO = 

police_annual = salaries[salaries['Department'] == 'POLICE']['Annual Salary']
police_annual_mean = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].mean()
#police_annual_mean

sem = (police_annual.std()) / np.sqrt(police_annual.count())
#sem

#z = ( sample_mean - pop_mean ) / SEM OR -> ( pop_std_dev / np.sqrt(sample size) )

z = (police_annual_mean-86000)/sem
print("The Z-score of our sample is:", z)

zc = stats.norm.ppf(0.95)

print("The Zcritical of our sample is:", zc)


print("We should reject the HO because it's way off the Zcritical: ", z, 'is bigger than', zc)

The Z-score of our sample is: 3.08199700571315
The Zcritical of our sample is: 1.6448536269514722
We should reject the HO because it's way off the Zcritical:  3.08199700571315 is bigger than 1.6448536269514722

Using the `crosstab` function, find the department that has the most hourly workers.

In [10]:
# Code just right below shows the same table as the answer given
#most_hourly_workers = pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values(by= ['Hourly'], ascending = False)

most_hourly_workers = pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values(by= ['Hourly'], ascending = False).idxmax()[0]



print("The department that has the most hourly workers is", most_hourly_workers)

The department that has the most hourly workers is STREETS & SAN

In [13]:
sample_hourly = salaries[salaries['Salary or Hourly'] == "Hourly"]["Hourly Rate"]
sample_hourly

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [14]:
sample_hourly.mean()

32.78855771628128

In [15]:
sample_hourly.std()

12.11257268427681

In [18]:
stats.ttest_1samp(sample_hourly, 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [23]:
salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

In [27]:
dep_hourly = salaries[salaries['Salary or Hourly'] == "Hourly"]["Department"].value_counts()

dep_hourly

STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
BUSINESS AFFAIRS            7
CULTURAL AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
BUDGET & MGMT               2
FIRE                        2
PROCUREMENT                 2
Name: Department, dtype: int64

In [26]:
salaries.columns

dep_salary = salaries[salaries['Salary or Hourly'] == "Salary"]["Department"].value_counts()

dep_salary

POLICE                   13404
FIRE                      4639
OEMC                       829
PUBLIC LIBRARY             716
AVIATION                   547
FINANCE                    516
HEALTH                     485
TRANSPORTN                 415
LAW                        367
WATER MGMNT                366
CITY COUNCIL               347
STREETS & SAN              336
FAMILY & SUPPORT           328
BUILDINGS                  269
GENERAL SERVICES           215
COMMUNITY DEVELOPMENT      203
BUSINESS AFFAIRS           164
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 90
INSPECTOR GEN               87
CITY CLERK                  84
MAYOR'S OFFICE              77
HUMAN RESOURCES             75
ANIMAL CONTRL               62
CULTURAL AFFAIRS            58
BUDGET & MGMT               44
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [49]:
san_hourly = salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate']
san_hourly_mean = salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate'].mean()
#san_hourly_mean

sem = (san_hourly.std()) / np.sqrt(san_hourly.count())
#sem

#z = ( sample_mean - pop_mean ) / SEM OR -> ( pop_std_dev / np.sqrt(sample size) )

z = (san_hourly_mean-35)/sem
print("The Z-score of our sample is:", z)

zc = stats.norm.ppf(0.95)

print("The Zcritical of our sample is:", zc)


print("We shouldn't reject the HO because it's before the Zcritical point: ", z, 'is smaller than', zc)

The Z-score of our sample is: -9.567447887851964
The Zcritical of our sample is: 1.6448536269514722
We shouldn't reject the HO because it's before the Zcritical point:  -9.567447887851964 is smaller than 1.6448536269514722

In [28]:
san_hourly = salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate'].count()
#print('Im confused about why to use the t-test if sample size is over 30:', san_hourly, 'workers in Sanitary Dpt.')

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [89]:
# variables

hourly_salary = salaries['Hourly Rate'].dropna()

confidence_lvl = 0.95

location = np.mean(hourly_salary)

st_err = stats.sem(hourly_salary)

freedom_degrees = len(hourly_salary) - 1

In [90]:
# using a t distribution:
t_low, t_upp = stats.t.interval(0.95, # the confidence level
                                freedom_degrees, # degrees of freedom = sample size - 1
                                loc=location, # mean of our sample
                                scale=st_err) # standard error of the mean

print("Upper bound to the population mean based on the sample mean with a 95% confidence interval:", t_upp) # two standard deviations above
print("Lower bound to the population mean based on the sample mean with a 95% confidence interval:", t_low) # two standard deviations below

Upper bound to the population mean based on the sample mean with a 95% confidence interval: 33.05365708767727
Lower bound to the population mean based on the sample mean with a 95% confidence interval: 32.52345834488529

In [61]:
hourly_salary = salaries['Hourly Rate']
d_freedom = len(hourly_salary) - 1
d_freedom

33182

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [111]:

salaries[salaries['Department'] == 'POLICE']
salaries[(salaries['Department'] == 'POLICE')]['Annual Salary'].isna().sum()

10

In [140]:
police_salaried = salaries[(salaries['Department'] == 'POLICE')]['Annual Salary'].dropna()

confidence_lvl_pol = 0.95

location_pol = np.mean(police_salaried)

st_err_pol = stats.sem(police_salaried, ddof = 1)

freedom_degrees_pol = len(police_salaried) - 1

In [141]:
police_low, police_upp = stats.t.interval(0.95, # the confidence level
                                freedom_degrees_pol, # degrees of freedom = sample size - 1
                                loc=location_pol, # mean of our sample
                                scale=st_err_pol) # standard error of the mean

print(f"Upper bound to the population mean based on the sample mean with a 95% confidence interval {police_upp:.6f}") 
print(f"Lower bound to the population mean based on the sample mean with a 95% confidence interval: {police_low:.6f}")

Upper bound to the population mean based on the sample mean with a 95% confidence interval 86795.772691
Lower bound to the population mean based on the sample mean with a 95% confidence interval: 86177.056315

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [56]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

# Ho: the proportion of hourly workers is equal to 25%.
# Ha: the proportion of hourly workers is different to 25%.

Null hypothesis rejected
Statistic:  -3.5099964213703005
p-value:  0.0004481127249057967