# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [31]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import norm

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the csv as a pandas dataframe named `salaries` from the data folder of this repository (`Current_Employee_Names__Salaries__and_Position_Titles.csv`).

In [6]:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [7]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [18]:
salaries.isna().value_counts()

Name   Job Titles  Department  Full or Part-Time  Salary or Hourly  Typical Hours  Annual Salary  Hourly Rate
False  False       False       False              False             True           False          True           25161
                                                                    False          True           False           8022
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [14]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [19]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [40]:
#Mean

hourly_mean = salaries['Hourly Rate'].mean()
hourly_mean

32.78855771628128

In [41]:
#Std deviation

hourly_std = salaries['Hourly Rate'].std()
hourly_std

12.11257268427681

In [116]:
#n = salaries['Salary or Hourly'].value_counts()

n = 8022

In [122]:
#Standard error

sem = hourly_std/np.sqrt(n-1)
sem

#hourly_rates = salaries[salaries["Salary or Hourly"]=="Hourly"]["Hourly Rate"]
#stats.sem(hourly_rates, ddof = 1)

0.13524528642174716

In [118]:
# Getting Z score

z = (30-hourly_mean)/sem
print("The z score of our sample is: {:.2f}".format(z))

The z score of our sample is: -20.62

**We reject the hypothesis**

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [126]:
police = salaries['Department'] == 'POLICE'

police_salary_mean = salaries.loc[police,'Annual Salary'].mean()
police_salary_std = salaries.loc[police,'Annual Salary'].std()

n = salaries.loc[police,'Annual Salary'].count()

In [129]:
#salaries.loc[police,'Annual Salary'].isna().value_counts()
n

13404

In [138]:
police_salary_mean

86486.41450313339

In [130]:
last_year_salary_mean = 86000

# Ho: \mu = 86000
# Ha: 86000 < police_salary_mean

#n = 13404

type(police_salary_mean)
type(last_year_salary_mean)

type(police_salary_std)

float

In [156]:
sem2 = police_salary_std / np.sqrt(13404)

In [131]:
# To get the Z value

z = ( last_year_salary_mean -  police_salary_mean  ) / ( police_salary_std / np.sqrt(n) )
z

-3.08199700571315

In [132]:
# To get the Z-critical value

zc = stats.norm.ppf(.95)
print("Our zc score is: {:.2f}".format(zc))

Our zc score is: 1.64

In [139]:
n

13404

In [137]:
# To get the P-Value

p_value = stats.t.cdf(z, df = n-1)
p_value*2

0.002060340355095436

**We reject the hypothesis**

Using the `crosstab` function, find the department that has the most hourly workers.

In [105]:
dep = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

In [108]:
dep['Hourly'].sort_values(ascending=False)

Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
BUDGET & MGMT               2
FIRE                        2
PROCUREMENT                 2
DISABILITIES                0
DoIT                        0
COPA                        0
TREASURER                   0
HUMAN RELATIONS             0
CITY CLERK                  0
INSPECTOR GEN               0
BUILDINGS                   0
LICENSE APPL COMM           0
BOARD OF ETHICS             0
BOARD OF ELECTION           0
POLICE BOARD                0
ADMIN HEARNG                0
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [148]:
streets = salaries['Department'] == 'STREETS & SAN'

# Hourly wage mean < 35

n_streets = 1862

streets_wage_mean = salaries.loc[streets,'Hourly Rate'].mean()
streets_wage_std = salaries.loc[streets,'Hourly Rate'].std()

z = ( 35 -  streets_wage_mean  ) / ( streets_wage_std / np.sqrt(n_streets) )
z

9.567447887851964

In [149]:
zc2 = stats.t.ppf(0.95, df= n_streets-1)
print("The critical value corresponding to a 0.95 area of a t-student distribution is: {:.2f}".format(zc2))

The critical value corresponding to a 0.95 area of a t-student distribution is: 1.65

**We reject the hypothesis**

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

<span class="mark">To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.</span>

In [151]:
from scipy.stats import t

In [152]:
hourly_mean

32.78855771628128

In [153]:
sem

0.13524528642174716

In [161]:
t.interval(alpha=0.95,loc=hourly_mean,scale=sem,df=8022-1)

(32.523441820068605, 33.05367361249396)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [157]:
t.interval(alpha=0.95,loc=police_salary_mean,scale=sem2,df=13404-1)

(86177.05631531785, 86795.77269094893)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: