# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the csv as a pandas dataframe named `salaries` from the data folder of this repository (Current_Employee_Names__Salaries__and_Position_Titles.csv).

In [2]:
salaries = pd.read_csv("/Users/m.soren/Desktop/Ironhack/Labs/lab-hypothesis-testing/data/Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [12]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [13]:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [18]:
salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [131]:
import math
import numpy
mean_hourly_salary = salaries["Hourly Rate"].dropna().mean()
# Z-score =  20.619805785501924    
            #  20.619805785494147
# Zcritical =  1.6448536269514722
z = (mean_hourly_salary - 30)  / (salaries["Hourly Rate"].std() / math.sqrt(salaries["Hourly Rate"].count()))
print(f"The z value is {z}")
zc = stats.norm.ppf(0.975)
print(f"The z critical vcalue is {zc}")

print(f"BEcause {z} > {zc} we should reject the Hypophosis.")

The z value is 20.6198057854942
The z critical vcalue is 1.959963984540054
BEcause 20.6198057854942 > 1.959963984540054 we should reject the Hypophosis.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [55]:
anual_salary = salaries[salaries["Department"] == "POLICE"]["Annual Salary"]
annual_salary_mean = anual_salary.mean()
z = (annual_salary_mean - 86000 ) / (anual_salary.std() / math.sqrt(anual_salary.count()))
# Z-score =  3.081859442309168 
# Zcritical =  1.6448536269514722
zc = stats.norm.ppf(0.95)
print(f"The z value is {z:.6f}")
print(f"The value of z-critical is {zc:.6f}")
print(f"The hypohosis should be rejected because {z:.6f} > {zc:.6f}")

The z value is 3.081997
The value of z-critical is 1.644854
The hypohosis should be rejected because 3.081997 > 1.644854

Using the `crosstab` function, find the department that has the most hourly workers.

In [72]:
a = pd.crosstab(salaries["Department"], salaries["Salary or Hourly"]).sort_values(by=["Hourly", "Salary"], ascending=False)
print(f"The department with the most hourly workers is {a.index[0]}")

The department with the most hourly workers is STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [77]:
anual_salary = salaries[salaries["Department"] == "STREETS & SAN"]["Hourly Rate"]
annual_salary_mean = anual_salary.mean()
z = (annual_salary_mean - 35) / (anual_salary.std() / math.sqrt(anual_salary.count()))
zc = stats.norm.ppf(0.95)
print(f"The z value is {z:.6f}")
print(f"The value of z-critical is {zc:.6f}")
print(f"The hypohosis should be accepted because {z:.6f} < {zc:.6f}")

-9.567447887848152
The z value is -9.567448
The value of z-critical is 1.644854
The hypohosis should be accepted because -9.567448 < 1.644854

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [126]:
hourly_salary = salaries["Hourly Rate"].dropna()
hourly_salary_array = hourly_salary.to_numpy()
h_s_mean = hourly_salary.mean()
degrees_of_freedom = hourly_salary.size - 1
h_s_error = stats.sem(hourly_salary_array)
confidence_interval = stats.t.interval(0.95, len(hourly_salary)-1, h_s_mean, h_s_error)
confidence_interval

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [129]:
hourly_salary = salaries[salaries["Department"]=="POLICE"]["Annual Salary"].dropna()
hourly_salary_array = hourly_salary.to_numpy()
h_s_mean = hourly_salary.mean()
degrees_of_freedom = hourly_salary.size - 1
h_s_error = stats.sem(hourly_salary_array)
confidence_interval = stats.t.interval(0.95, len(hourly_salary)-1, h_s_mean, h_s_error)
confidence_interval
(86177.05631531784, 86795.77269094894)

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [56]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

# Ho: the proportion of hourly workers is equal to 25%.
# Ha: the proportion of hourly workers is different to 25%.

Null hypothesis rejected
Statistic:  -3.5099964213703005
p-value:  0.0004481127249057967