<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Before-your-start:" data-toc-modified-id="Before-your-start:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Before your start:</a></span></li><li><span><a href="#Challenge-1---Exploring-the-Data" data-toc-modified-id="Challenge-1---Exploring-the-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Challenge 1 - Exploring the Data</a></span></li><li><span><a href="#Challenge-2---Hypothesis-Tests" data-toc-modified-id="Challenge-2---Hypothesis-Tests-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Challenge 2 - Hypothesis Tests</a></span></li><li><span><a href="#Challenge-3:-To-practice---Constructing-Confidence-Intervals" data-toc-modified-id="Challenge-3:-To-practice---Constructing-Confidence-Intervals-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Challenge 3: To practice - Constructing Confidence Intervals</a></span></li><li><span><a href="#Bonus-Challenge---Hypothesis-Tests-of-Proportions" data-toc-modified-id="Bonus-Challenge---Hypothesis-Tests-of-Proportions-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Bonus Challenge - Hypothesis Tests of Proportions</a></span></li></ul></div>

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import t

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the csv as a pandas dataframe named `salaries` from the data folder of this repository (`Current_Employee_Names__Salaries__and_Position_Titles.csv`).

In [3]:
salaries = pd.read_csv("../data/Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
salaries.count()

Name                 33183
Job Titles           33183
Department           33183
Full or Part-Time    33183
Salary or Hourly     33183
Typical Hours         8022
Annual Salary        25161
Hourly Rate           8022
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
salaries['Department'].unique()

array(['POLICE', 'GENERAL SERVICES', 'WATER MGMNT', 'OEMC',
       'CITY COUNCIL', 'AVIATION', 'STREETS & SAN', 'FIRE',
       'FAMILY & SUPPORT', 'PUBLIC LIBRARY', 'TRANSPORTN',
       "MAYOR'S OFFICE", 'HEALTH', 'BUSINESS AFFAIRS', 'LAW', 'FINANCE',
       'CULTURAL AFFAIRS', 'COMMUNITY DEVELOPMENT', 'PROCUREMENT',
       'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK', 'BOARD OF ELECTION',
       'DISABILITIES', 'HUMAN RESOURCES', 'DoIT', 'BUDGET & MGMT',
       'TREASURER', 'INSPECTOR GEN', 'HUMAN RELATIONS', 'COPA',
       'BOARD OF ETHICS', 'POLICE BOARD', 'ADMIN HEARNG',
       'LICENSE APPL COMM'], dtype=object)

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
n = 8022
hour_rate_mean = salaries['Hourly Rate'].mean()
hour_rate_std = salaries['Hourly Rate'].std()
#H0: mean = 30
#HA: mean != 30

z = (30 - hour_rate_mean)/((hour_rate_std/np.sqrt(n)))
print(z)

-20.619805785501907

In [9]:
zc = stats.norm.ppf(1-(0.05/2))
print("Our zc score is: {:.2f}".format(zc))

Our zc score is: 1.96

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [10]:
police = salaries['Department'] == 'POLICE'
police_salary_mean = salaries.loc[police, 'Annual Salary'].mean()
police_salary_std = salaries.loc[police, 'Annual Salary'].std()
police_salary_cnt = salaries.loc[police, 'Annual Salary'].count()

In [11]:
# H0: mean > 86000
# HA: mean < 86000

z1 = (86000 - police_salary_mean)/((police_salary_std)/(np.sqrt(police_salary_cnt)))
z1

-3.08199700571315

In [12]:
zc1 = stats.norm.ppf(0.95)
print("The critical value corresponding to a 0.95 area of a normal distribution is: {:.2f}".format(zc))

The critical value corresponding to a 0.95 area of a normal distribution is: 1.96

In [13]:
stats.t.cdf(z1, df = police_salary_cnt-1)*2 ## P value for 2 tail test > to convert for one tail we need to multiply by 2

0.002060340355095436

Using the `crosstab` function, find the department that has the most hourly workers.

In [14]:
dep = pd.crosstab(salaries["Department"], salaries["Salary or Hourly"])
dep

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

In [15]:
dep["Hourly"].sort_values(ascending=False)

Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
BUDGET & MGMT               2
FIRE                        2
PROCUREMENT                 2
DISABILITIES                0
DoIT                        0
COPA                        0
TREASURER                   0
HUMAN RELATIONS             0
CITY CLERK                  0
INSPECTOR GEN               0
BUILDINGS                   0
LICENSE APPL COMM           0
BOARD OF ETHICS             0
BOARD OF ELECTION           0
POLICE BOARD                0
ADMIN HEARNG                0
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [16]:
SandS_salaries = salaries['Department']=="STREETS & SAN"
SandS_salary_mean = salaries.loc[SandS_salaries, 'Hourly Rate'].mean()
SandS_salary_std = salaries.loc[SandS_salaries, 'Hourly Rate'].std()
SandS_salary_cnt = salaries.loc[SandS_salaries, 'Hourly Rate'].count()
#H0: mean < 35
#HA: mean > 35

z2 = (35 - SandS_salary_mean)/((SandS_salary_std/np.sqrt(SandS_salary_cnt)))
print(z2)

9.567447887851964

In [17]:
zc2 = stats.t.ppf(0.95, df= SandS_salary_cnt-1)
print("The critical value corresponding to a 0.95 area of a t-student distribution is: {:.2f}".format(zc2))

The critical value corresponding to a 0.95 area of a t-student distribution is: 1.65

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [18]:
n = 8022
hour_rate_mean = salaries['Hourly Rate'].mean()
hour_rate_std = salaries['Hourly Rate'].std()

t.interval(alpha=0.95, loc=hour_rate_mean,
           scale=(hour_rate_std/np.sqrt(n)), df=n-1) ## using t-student distribution

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [19]:
police = salaries['Department'] == 'POLICE'
police_salary_mean = salaries.loc[police, 'Annual Salary'].mean()
police_salary_std = salaries.loc[police, 'Annual Salary'].std()
police_salary_cnt = salaries.loc[police, 'Annual Salary'].count()
police_sem = stats.sem(salaries[(salaries['Department'] == 'POLICE') & (
    salaries['Hourly Rate'].isna())]['Annual Salary'])

#stats.norm.interval(alpha=0.95, loc=police_salary_mean,
#           scale=(police_salary_std/np.sqrt(police_salary_cnt))) ## using normal distribution


stats.t.interval(alpha=0.95, loc=police_salary_mean,
                 scale=police_sem, df=police_salary_cnt-1)  # using normal distribution

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [20]:
# Your code here: