# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [5]:
import numpy as np
import pandas as pd
import scipy
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the csv as a pandas dataframe named `salaries` from the data folder of this repository (`Current_Employee_Names__Salaries__and_Position_Titles.csv`).

In [4]:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [9]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [10]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
hourly = salaries[salaries['Salary or Hourly']=='Hourly']

pop_mean = 30
hourly_cl = 0.975 #95% two sided CL interval
hourly_std_er = st.sem(hourly['Hourly Rate'])

hourly_mean = np.mean(hourly['Hourly Rate'])

z = (hourly_mean-pop_mean)/(hourly_std_er)

zc = scipy.stats.norm.ppf(hourly_cl)


if np.abs(z)>np.abs(zc):
    print('The hourly wage deviates significantly from $30/hr (with 95% CL). Z = {:.4} and Zc = {:.3}'.format(z,zc))
else:
    print("The hourly wage doesn't deviate significantly from $30/hr (with 95% CL). Z = {:.3} and Zc = {:.3}".format(z,zc))

12.11257268427681
0.1352368565101596
The hourly wage deviates significantly from $30/hr (with 95% CL). Z = 20.62 and Zc = 1.96

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
police = salaries[(salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Salary')]

last_year_mean = 86000
police_mean = police['Annual Salary'].mean()

police_std_er = st.sem(police['Annual Salary'])

police_cl = 0.95

z = (police_mean-last_year_mean)/police_std_er
zc = scipy.stats.norm.ppf(police_cl)

if z>zc:
    print("The salaries are significantly higher than last year's (with 95% CL). Z = {:.3} and Zc = {:.3}".format(z,zc))
else:
    print("The salaries aren't significantly higher than last year's (with 95% CL). Z = {:.3} and Zc = {:.3}".format(z,zc))

The salaries are significantly higher than last year's (with 95% CL). Z = 3.08 and Zc = 1.64

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])

#STREETS & SAN

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
streets = salaries[(salaries['Department']=='STREETS & SAN') & (salaries['Salary or Hourly']=='Hourly')]

wage_mean = 35
streets_mean = streets['Hourly Rate'].mean()
streets_std_er = st.sem(streets['Hourly Rate'])

streets_cl = 0.95

z = (streets_mean-wage_mean)/streets_std_er
zc = scipy.stats.t.ppf(streets_cl,df=len(streets)-1)

if z>zc:
    print("The hourly wages are significantly lower than $35/hour (with 95% CL). Z = {:.3} and Zc = {:.3}".format(z,zc))
else:
    print("The hourly wages aren't significantly lower than $35/hour (with 95% CL). Z = {:.3} and Zc = {:.3}".format(z,zc))

The hourly wages aren't significantly lower than $35/hour (with 95% CL). Z = -9.57 and Zc = 1.65

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
ci_mean_h = hourly['Hourly Rate'].mean()
ci_std_error_h = scipy.stats.sem(hourly['Hourly Rate'])
ci_cl_h = 0.95

scipy.stats.t.interval(ci_cl_h,len(hourly)-1,loc=ci_mean_h,scale=ci_std_error_h)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [96]:
ci_mean_pol = police['Annual Salary'].mean()
ci_std_error_pol = scipy.stats.sem(police['Annual Salary'])
ci_cl_pol = 0.95

scipy.stats.t.interval(ci_cl_pol,len(police)-1,loc=ci_mean_pol,scale=ci_std_error_pol)

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [22]:
import statsmodels.stats.proportion as st2

In [24]:
number_hourly = len(hourly)
number_total = len(salaries)


z = (number_hourly/number_total-0.25)/np.sqrt(0.25*(1-0.25)/number_total)

#z1 ,p1 = st2.proportions_ztest(number_hourly,number_total,value=0.25)

zc = scipy.stats.norm.ppf(0.975)

print(z)

#print(z1)

print('Our null hypothesis is',np.abs(z)<np.abs(zc))

-3.470528924426208
-3.5099964213703005
Our null hypothesis is False